services:

  # Identity
  identity:
    build:
      context: .
      dockerfile: ./backend/identity-service/Dockerfile
    container_name: identity
    volumes:
      - ./backend:/app/backend
    environment:
      - NODE_ENV=development
      - HTTP_PORT=3000
      - MICROSERVICE_TCP_PORT=4101
      - SMTP_HOST=${SMTP_HOST}
      - SMTP_PORT=${SMTP_PORT}
      - SMTP_USER=${SMTP_USER}
      - SMTP_PASSWORD=${SMTP_PASSWORD}
      - SMTP_SECURE=${SMTP_SECURE}
      - PSQL_HOST=${PSQL_IDENTITY_HOST}
      - PSQL_PORT=${PSQL_IDENTITY_PORT}
      - PSQL_USERNAME=${PSQL_IDENTITY_USERNAME}
      - PSQL_PASSWORD=${PSQL_IDENTITY_PASSWORD}
      - PSQL_DATABASE=${PSQL_IDENTITY_DATABASE}
    ports:
      - "4001:3000"
    networks:
      - postgres-network
      - mail-network
    depends_on:
      - postgres
      - smtp

  # Product
  product:
    build:
      context: .
      dockerfile: ./backend/product-service/Dockerfile
    container_name: product
    volumes:
      - ./backend:/app/backend
    environment:
      - NODE_ENV=development
      - HTTP_PORT=3000
      - MICROSERVICE_TCP_PORT=4103
      - MONGODB_URI=mongodb://${MONGO_PRODUCT_DB_USER}:${MONGO_PRODUCT_DB_PASSWORD}@mongodb:${MONGO_PRODUCT_DB_PORT}/${MONGO_PRODUCT_DB}?authSource=admin
      - PSQL_HOST=${PSQL_REGISTRY_HOST}
      - PSQL_PORT=${PSQL_REGISTRY_PORT}
      - PSQL_USERNAME=${PSQL_REGISTRY_USERNAME}
      - PSQL_PASSWORD=${PSQL_REGISTRY_PASSWORD}
      - PSQL_DATABASE=${PSQL_REGISTRY_DATABASE}
    ports:
      - "4003:3000"
    networks:
      - mongodb-network
    depends_on:
      - mongodb

  # MongoDB
  mongodb:
    image: mongo:latest
    container_name: mongodb
    ports:
      - "27017:27017"
    environment:
      - MONGO_INITDB_ROOT_USERNAME=${MONGO_PRODUCT_DB_USER}
      - MONGO_INITDB_ROOT_PASSWORD=${MONGO_PRODUCT_DB_PASSWORD}
    networks:
      - mongodb-network
    volumes:
      - mongo-data:/data/mongodb

  # PostgreSQL
  postgres:
    container_name: postgres
    image: postgres:16
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=postgres
      - PSQL_REGISTRY_USERNAME=${PSQL_REGISTRY_USERNAME}
      - PSQL_REGISTRY_PASSWORD=${PSQL_REGISTRY_PASSWORD}
      - PSQL_REGISTRY_DATABASE=${PSQL_REGISTRY_DATABASE}
      - PSQL_IDENTITY_USERNAME=${PSQL_IDENTITY_USERNAME}
      - PSQL_IDENTITY_PASSWORD=${PSQL_IDENTITY_PASSWORD}
      - PSQL_IDENTITY_DATABASE=${PSQL_IDENTITY_DATABASE}
    ports:
      - "6432:5432"
    volumes:
      - postgres-data:/var/lib/postgresql/data
      - ./docker/postgres:/docker-entrypoint-initdb.d
    networks:
      - postgres-network

  # SMTP
  smtp:
    image: mailhog/mailhog:latest
    container_name: smtp
    ports:
      - "1025:1025"
      - "9025:8025"
    environment:
      - MH_STORAGE=maildir
      - MH_MAILDIR_PATH=/maildir
    volumes:
      - smtp-data:/data/smtp
    user: "root"
    networks:
      - mail-network

volumes:
  mongo-data:
  postgres-data:
  smtp-data:

networks:
  mongodb-network:
    driver: bridge
  postgres-network:
    driver: bridge
  mail-network:
    driver: bridge
